<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="container">

        <!-- .navbar-fixed-top, or .navbar-fixed-bottom can be added to keep the nav bar fixed on the screen -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">

                    <!-- Button that toggles the navbar on and off on small screens -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">

                        <!-- Hides information from screen readers -->
                        <span class="sr-only"></span>

                        <!-- Draws 3 bars in navbar button when in small mode -->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- You'll have to add padding in your image on the top and right of a few pixels (CSS Styling will break the navbar) -->
                    <a class="pull-left" href="#">
                        <img src="NTTLogosm.png">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/projects">Projects</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <div class="container">
        <div class="jumbotron">
            <h1>My Projects</h1>
        </div>
        <div class="jumbotron">
            <h2>RateMyPotato</h2>
            <img src="http://www.freepngimg.com/thumb/potato/9-potato-png-images-pictures-download-thumb.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, minima aspernatur eum laborum eos doloribus, aliquid incidunt ad ullam odit quas unde quasi deserunt excepturi officia. Recusandae magnam quaerat eligendi!</p>
        </div>

        <div class="jumbotron">
            <h2>WheresMyPotato</h2>
            <img src="http://www.freepngimg.com/thumb/potato/9-potato-png-images-pictures-download-thumb.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste illo, laborum adipisci et eum aliquid accusantium sit quasi reprehenderit fugiat quibusdam libero nihil ipsa nemo aut eveniet sed necessitatibus quo.</p>
        
        </div>

        <div class="jumbotron">
            <h2>FindMyPotato</h2>
            <img src="http://www.freepngimg.com/thumb/potato/9-potato-png-images-pictures-download-thumb.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quas cupiditate maxime facilis, consequatur earum inventore ad neque dolorem, quo vero minus nostrum saepe sint aperiam. Incidunt nostrum possimus repellat?</p>
        
        </div>
    </div>
</body>

</html>